class DmlMp3tagger < Formula
  include Language::Python::Virtualenv

  desc "Change mp3 tags to what I want"
  homepage "https://github.com/dmlane/dml-mp3tagger"
  url "#URL#"
  sha256 "#SHA256#"
  license "MIT"

  depends_on "python@3.11"

  def install
    virtualenv_install_with_resources
  end
  #---START-RESOURCES---
  #---END-RESOURCES---
  test do
    system "#{bin}/mp3tagger", "--version"
  end
end
